//
   Created by MLovan
   Date: 5/19/13
   Time: 11:25 AM


h3 Architecture
.btn-group
    button.btn.btn-primary(data-ng-click='slide=\'one\'', ng-class='{active: slide==\'one\'}') Client-side
    button.btn.btn-primary(data-ng-click='slide=\'two\'', ng-class='{active: slide==\'two\'}') Web server
    button.btn.btn-primary(data-ng-click='slide=\'three\'', ng-class='{active: slide==\'three\'}') Hosting
.slide-frame(data-ng-switch='slide', data-ng-animate='\'slide\'')
    div(data-ng-switch-when='one')
        .row-fluid.well
            .span2
                img(src='/img/angular-logo.jpeg', target="_blank" , alt="node logo", width="100em")
            .span9
                p "AngularJS is what HTML would have been, had it been designed for building web-apps. Declarative templates with data-binding, MVW, MVVM, MVC, dependency injection and great testability story all implemented with pure client-side JavaScript!"
                a(href="http://angularjs.org/", target="_blank") Angular.js
    div(data-ng-switch-when='two')
        .row-fluid.well
            .span2
                img(src='/img/node_logo.jpg', target="_blank" , alt="node logo", width="100em")
            .span9
                p "Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices."
                a(href="http://nodejs.org/", target="_blank") Node.js
    div(data-ng-switch-when='three')
        .row-fluid.well
            .span2
                img(src='/img/heroku_logo.PNG', target="_blank" , alt="heroku logo", width="100px")
            .span9
                p "Heroku is a polyglot cloud application platform. With Heroku, you don’t need to think about servers at all. You can write apps in the programming language of your choice, back it with add-on resources such as SQL and NoSQL databases, Memcached, and many others. You manage your app using the Heroku command-line tool and you deploy code using the Git revision control system, all running on the Heroku infrastructure."
                a(href="https://www.heroku.com/", target="_blank") Heroku



h3 Github Repository History
.well
    include Github