.row-fluid

    .span7.offset1
        .well
            p
                |This is my personal website and portfolio. I've recently resigned as a corporate consultant to persue a more creative
                |career path. I'll hope to develop and improve this site continually over the next several months.

            p
                |I've started with the&nbsp;
                a(href='https://github.com/btford/angular-express-seed.git') node-angular-seed
                |&nbsp;by Brian Ford. It's a great place to start if you, like me, are just getting started with node.js and angular.js. This site is hosted at Heroku.


    .span3
        .picture.bottomshadow
            img(src='/img/ProfilePicBW.jpg')

    //.span3
    //    #twitter
    //        |<a class="twitter-timeline" href="https://twitter.com/mattlovan" data-widget-id="331209679692763139">Tweets by @mattlovan</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

