.row-fluid

    .span7.offset1
        .well
            p
                |This is my personal website and portfolio. I've recently resigned as a corporate consultant to persue a more creative
                |career path. I'll hope to develop and improve this site continually over the next several months.

            p
                |I've started with the&nbsp;
                a(href='https://github.com/btford/angular-express-seed.git') node-angular-seed
                |&nbsp;by Brian Ford. It's a great place to start if you are just getting started with Node and Angular.

            p
                |This site is hosted at Heroku. That in itself represented a big accomplishment for me. Heroku requires you to use the version control system&nbsp;

                a(href='https://github.com/btford/angular-express-seed.git') Git

                |. It allows you to maintain a chain of versions of a piece of code, track the changes, and move back and forth between the different versions.
                | Powerful stuff, but not super-intuitive.
    .span3
        .picture.bottomshadow
            img(src='/img/ProfilePicBW.jpg')
