//
   Created by MLovan
   Date: 9/10/13
   Time: 2:47 PM


.col-lg-offset-2.col-lg-8.col-md-offset-1.col-md-10
    h1 About Me

    .panel
        h2 Who I am
        p location, education, current goals

        h2 What I offer
        p 5 years experience in business analyst, web dev, financial apps, govt cosnsulting. Cutting edge web dev consulting



