.row-fluid

    .span7.offset1
        .well
            p
                |This is my personal website and portfolio. I hope to develop and improve this site continually over the next several months.

            p
                |I've started with the&nbsp;
                a(href='https://github.com/btford/angular-express-seed') node-angular-seed
                |&nbsp;by Brian Ford. It's a great place to start if you are just getting started with Node and Angular.

            p
                |This site is hosted at Heroku. That in itself represented a big accomplishment for me. Heroku requires you to use the version control system&nbsp;

                a(href='http://en.wikipedia.org/wiki/Git_(software)') Git

                | . Git allows you to maintain a chain of versions of a piece of code, track the changes, merge, branch,
                | move back and forth between different versions, and more. Powerful stuff, but not super-intuitive.

            p
                |I hope to use this site to share what I've learned along the way - I'll be adding a blog in the near future. Also in the works -
                | live editing of my resume, MongoDB backend, and more. Stay tuned : )

    .span3
        .picture.bottomshadow
            img(src='/img/ProfilePicBW.jpg')
