//
   Created by MLovan
   Date: 5/5/13
   Time: 8:09 PM

ul.menu
    li
        a.menubutton(href='Bio') Bio
    li
        a.menubutton(href='Projects') Projects
    li
        a.menubutton.active.bottomshadow(href='Blog') Blog
    li
        a.menubutton(href='Resume') Resume
    li
        a.menubutton(href='Sandbox') Sandbox
.divider