.row
    .col-md-offset-2.col-sm-offset-2

    .col-md-8.col-sm-8
        h2 consulting
        .panel
            h3 offering full-stack web development

            table.table
                thead
                tbody
                    tr
                        td.text-right.tableHeader front-end
                        td Fast, responsive web applications
                        td
                            ul.list-unstyled
                                li Angular.js
                                li CSS3
                                li html5
                    tr
                        td.text-right.tableHeader web server
                        td Embrace Asynchronos, Web Sockets
                        td Node, Express, Passport, socket.io

                    tr
                        td.text-right.tableHeader database
                        td choose the right tool for the job
                        td
                            ul.list-unstyled
                                li SQL: Postgres, SQLServer, Oracle
                                li NoSQL: MongoDB,
                                    em  Firebase!




    .col-md-offset-2.col-sm-offset-2