.row
    .col-sm-3
        h2.shade background

    .col-sm-8.panel
        h3 government consulting
        p
            span.glyphicon.glyphicon-tower
            |  6 years of experience implementing financial systems for government revenue agencies

        p
            span.glyphicon.glyphicon-user
            |  3 years of experience  as technical lead implementing web applications to file and pay taxes

            dl.dl-horizontal
                dt.shade eTaxBC
                dd portal for the British Columbia Ministry of Finance - $100+ million collected each year

            dl.dl-horizontal
                dt.shade My Alabama Taxes
                dd portal for the Alabama Department of Revenue - $500+ million collected each year

        .clearfix

    .col-sm-1


.row
    .col-sm-3
        h2.shade current projects

    .col-sm-8.panel
        h3 chasing all the coolest buzzwords

        p
            span.glyphicon.glyphicon-star
            |   Angular.js - a fast, modular framework for web applications

        p
            span.glyphicon.glyphicon-refresh
            | Node.js - Event-based web server, deployed in the cloud
        p
            span.glyphicon.glyphicon-fire
            | NoSQL databases, and even better - Firebase

        .clearfix
    .col-sm-1

.row
    .col-sm-3
        h2.shade consulting services

    .col-sm-8.panel
        h3 full-stack web development consulting

        p
            span.glyphicon.glyphicon-leaf
            |   Intuitive interfaces
        p
            span.glyphicon.glyphicon-cloud
            |   Web servers deployed in the cloud
        p
            span.glyphicon.glyphicon-file
            |   Open-source databases

        .clearfix

    .col-sm-1