.row
    .col-sm-3
        h2.shade web applications

    .col-sm-6
        h3 create a desktop experience
        p
            span.glyphicon.glyphicon-fire
            |  intuitive applications that work on all platforms and devices

        p
            span.glyphicon.glyphicon-stats
            | Create rich interactions to explore data

        p
            button.btn.headerButton View Demos

        .clearfix

    .col-sm-3


.row
    .col-sm-3
        h2.shade web servers

    .col-sm-8
        h3 work in the cloud

        p
            span.glyphicon.glyphicon-cloud
            |   Deploy quickly and scale instantly

        p
            span.glyphicon.glyphicon-user
            | Create users and passwords - or login with Facebook, Twitter, and more
        p
            span.glyphicon.glyphicon-transfer
            | Exchange data with existing systems and services

        .clearfix
    .col-sm-1

.row
    .col-sm-3
        h2.shade cloud databases

    .col-sm-8
        h3 grow to fit your data

        p
            span.glyphicon.glyphicon-list
            |  SQL: Postgres, SQLServer, Oracle
        p
            span.glyphicon.glyphicon-list-alt
            |  NoSQL: MongoDB, Firebase!

        .clearfix

    .col-sm-1