.row
    .col-md-offset-2.col-sm-offset-2

    .col-md-8.col-sm-8
        h2 consulting
        .panel
            h3 full-stack development

            table.table
                thead
                tbody
                    tr
                        td.text-right front-end
                        td something
                        td Angular.js
                    tr
                        td
                        td
                        td html5

                    tr
                        td.text-right web server
                        td Node.js

                    tr
                        td.text-right database
                        td
                        td SQLServer, Oracle
                    tr
                        td
                        td
                        td NoSQL: MongoDB



    .col-md-offset-2.col-sm-offset-2