//
   Created by MLovan
   Date: 9/10/13
   Time: 8:07 PM


.col-lg-offset-2.col-lg-8.col-md-offset-1.col-md-10
    h2 Demos and posts

    .panel
        h3 Redesign
        p Thanks to <a href="http://tridiv.com/" target='_blank')> tridiv's 3d css creation tool </a> for the sweet 3d css logo in the header background.
        p I also based the color scheme on this <a href="http://www.colourlovers.com/palette/482774/dream_magnet" target='_blank')> color pallete </a> from Colourlovers.
        p Of course bootstrap3 deserves a mention as well. <a href="http://getbootstrap.com/" target='_blank')> Bootstrap is a collection of useful css rules and javascript components. </a>

    .panel
        h3 Mulitply Game
        p <a href="/grid"> Here </a>