.row


    .panel.col-sm-4

        h3 Mulitply Game (in progress)
            small  9/15/2013
        p <a href="/grid"> Practice multiplication </a>

        h3 Stableford leaderboard
            small  9/21/2013
        p
            a(href="/leaderboard")
            | PGA leaderboard that computes 4 different scoring styles </a>



    .col-sm-3
        h2.shade demos

    .col-sm-5