//
   Created by MLovan
   Date: 9/10/13
   Time: 8:07 PM


.col-lg-offset-2.col-lg-8.col-md-offset-1.col-md-10
    .panelTitle
        h1 Demos/Blog

    .panel
        h2 Parallax!
        p Cool Library

    .panel
        h2 Responsive Images
        p build script in grunt?


    .panel
        h2 Build Process
        p Yeoman

    .panel
        h2 MongoDB and NoSQL
        p I was born in the highlands of Peru in 1984 to a poor young mother. I was quickly turned over to the local nuns - they called me Paulo. As was the custom a the time, I was placed in a crate of bananas as it was sealed and loaded onto a ship bound for America.


    .panel
        h2 Parallax!
        p I was born in the highlands of Peru in 1984 to a poor young mother. I was quickly turned over to the local nuns - they called me Paulo. As was the custom a the time, I was placed in a crate of bananas as it was sealed and loaded onto a ship bound for America.
