//
   Created by MLovan
   Date: 5/5/13
   Time: 8:28 PM

.row
    .span12
        .readtext
            .pull-right
                ul.inline
                    li
                        a.menubutton.bottomshadow(href='#edit') Edit
                    li
                        a.menubutton.bottomshadow(href='#Print') Print
                    li
                        a.menubutton.bottomshadow(href='#Save') Save as PDF