//
   Created by MLovan
   Date: 5/5/13
   Time: 8:28 PM

.row
    .span12
        .readtext
            .pull-right
                ul.inline
                    //li
                    //    a.btn.bottomshadow(href='#edit') Edit
                    li
                        a.btn.bottomshadow(href='javascript:window.print()') Print
                    //li
                    //    a.btn.bottomshadow(href='#Save') Save as PDF