//
   Created by MLovan
   Date: 5/5/13
   Time: 8:28 PM

.row
    .span12
        .readtext
            ul.inline.pull-right.docButtons
                li(ng-show="editMode")
                    a.btn.btn-primary(ng-click="saveResume()")
                        i.icon-ok-circle.icon-white
                        |  Save
                li(ng-show="editMode")
                    button.btn.btn-primary(ng-click="InitialSetup()")
                        i.icon-trash.icon-white
                        |  Cancel
                li(ng-hide="editMode")
                    button.btn.btn-primary(ng-click="editMode= true")
                        i.icon-wrench.icon-white
                        |  Edit
                //li(ng-hide="editMode")
                //    a.btn.btn-primary(href='javascript:window.print()')
                //        i.icon-print.icon-white
                //        |  Print
                //li
                //    a.btn.bottomshadow(href='#Save') Save as PDF