//
   Created by MLovan
   Date: 5/5/13
   Time: 8:28 PM

.row
    .span12
        .docButtons
            ul.inline.pull-right
                li(ng-show="editMode")
                    a.btn.btn-primary(ng-click="saveDocument()")
                        i.icon-ok-circle.icon-white
                        |  Save
                li(ng-show="editMode")
                    button.btn.btn-primary(ng-click="cancelDocument()")
                        i.icon-trash.icon-white
                        |  Cancel
                li(ng-hide="editMode")
                    button.btn.btn-primary(ng-click="editMode= true")
                        i.icon-wrench.icon-white
                        |  Edit