//
   Created by MLovan
   Date: 5/19/13
   Time: 12:52 PM



div(ng-controller="GithubCtrl")

    ul.inline.pull-right
        li
            span.muted Last Updated : {{time | date:'medium'}}

    table.table
        thead
            th(style="width: 20%") Time
            th Commit Message
            th(style="width: 15%") View Changes

        tbody
            tr(ng-repeat="item in commits | limitTo: 7")
                td {{item.commit.committer.date | date:'short' }}
                td {{item.commit.message}}
                td
                    a(href="{{item.html_url}}", target="_blank")
                        button.btn Compare

