//
   Created by MLovan
   Date: 5/15/13
   Time: 7:52 PM


.hero-unit
    .container
        .row
            .span11
                h1 Matt Lovan
                p web development a·fi·ci·o·na·do

            .span1

                ul.unstyled.text-center
                    li
                        a(href="http://twitter.com/mattlovan")
                            img(src="img/twitter-bird-dark-bgs.png" , alt="twitter logo", height="40px", width="40px")

                    li
                        a(href="https://www.facebook.com/matt.lovan.1")
                            img(src="img/FB-f-Logo__white_29.png" , alt="facebook logo")


