//
   Created by MLovan
   Date: 5/8/13
   Time: 7:14 PM



.container
    ul.menu
        li
            a.menubutton(href='Bio') Bio
        li
            a.menubutton(href='Projects') Projects
        li
            a.menubutton(href='Resume') Resume