include DocumentButtons

//.row
//    .span12.text-center
//        p.text-success(ng-show="editMode") Click on the icons to edit the information for that section.

.row
    .span12
        .document.readtext.documentshadow

            .docH3(ng-switch on="editMode")
                div(ng-switch-when="true")
                    input.input-block-level(type="text", id="name", ng-model="Resume.name", select-on-click )
                div(ng-switch-default)
                    div {{Resume.name}}


            span(ng-switch on="editMode")
                ul.inline(ng-switch-when="true")
                    li
                        i.icon-envelope
                    li
                        //Email
                        input.input-block-level(type="email", id="email", ng-model="Resume.email", select-on-click)
                    li  |
                        i.icon-volume-up.btnmargin
                    li
                        //Phone
                        input.input-block-level.btnmargin(type="tel", id="email", ng-model="Resume.phone", select-on-click)

                ul.inline(ng-switch-default)
                    li
                        i.icon-envelope
                    li
                        div {{Resume.email}}
                    li  |
                        i.icon-volume-up.btnmargin
                    li
                        div {{Resume.phone}}

            span(ng-switch on="editMode")
                ul.inline(ng-switch-when="true")
                    li
                        i.icon-road
                    li
                        //Address
                        input.input-large(type="text", ng-model="Resume.address", select-on-click)
                    li  |
                        i.icon-globe.btnmargin
                    li
                        //Location
                        input.input-large.btnmargin(type="tel", id="email", ng-model="Resume.location", select-on-click)

                ul.inline(ng-switch-default)
                    li
                        i.icon-road
                    li
                        div {{Resume.address}}
                    li  |
                        i.icon-globe.btnmargin
                    li
                        div {{Resume.location}}


            //SECTION 1 Header
            span(ng-switch on="editMode")
                ul.inline.SectionTitle(ng-switch-when="true")
                    li
                        input.input-xlarge(type="text", ng-model="Resume.Section1Title", select-on-click)

                ul.inline.SectionTitle(ng-switch-default)
                    li
                        div {{Resume.Section1Title}}

            //SECTION 1 Content
            span(ng-switch on="editMode")
                .SectionContent(ng-switch-when="true")
                    span(ng-repeat="items in Resume.Section1Items")
                        input.input-xlarge(type="text", ng-model="items.title", select-on-click)
                        a.docbutton.btn.pull-right(ng-click="DeleteProject($index)")
                            i.icon-minus-sign

                        br
                        textarea.input-block-level(rows="2", ng-model="items.description", select-on-click)
                    span
                        a.btn(ng-click="AddProject()")
                            i.icon-plus-sign
                            |  Add

                .SectionContent(ng-switch-default)
                    span(ng-repeat="items in Resume.Section1Items")
                        strong  {{items.title}}
                        p {{items.description}}

            //SECTION 2 Header
            span(ng-switch on="editMode")
                ul.inline.SectionTitle(ng-switch-when="true")
                    li
                        input.input-xlarge(type="text", ng-model="Resume.Section2Title", select-on-click)
                ul.inline.SectionTitle(ng-switch-default)
                    li
                        div {{Resume.Section2Title}}

            //SECTION 2 Content
            span(ng-switch on="editMode")
                .SectionContent(ng-switch-when="true")
                    span(ng-repeat="items in Resume.Section2Items")
                        input.input-xlarge(type="text", ng-model="items.title", select-on-click)
                        a.docbutton.btn.pull-right(ng-click="DeleteAward($index)")
                            i.icon-minus-sign
                        br
                        ul.inline
                            li
                                input.span5(type="text", ng-model="items.award", select-on-click)
                            li
                                input.input-small(type="text", ng-model="items.date", select-on-click)
                        br

                    span
                        br
                        a.btn(ng-click="AddAward()")
                            i.icon-plus-sign
                            |  Add

                .SectionContent(ng-switch-default)
                    span(ng-repeat="items in Resume.Section2Items")
                        strong {{items.title}}
                        ul.inline
                            li {{items.award}}
                            li.pull-right {{items.date}}
                        br

            //SECTION 3 Header
            span(ng-switch on="editMode")
                ul.inline.SectionTitle(ng-switch-when="true")
                    li
                        input.input-xlarge(type="text", ng-model="Resume.Section3Title", select-on-click)
                ul.inline.SectionTitle(ng-switch-default)
                    li
                        div {{Resume.Section3Title}}

            //SECTION 3 Content
            span(ng-switch on="editMode")
                .SectionContent(ng-switch-when="true")
                    span(ng-repeat="items in Resume.Section3Items")
                        input.input-xlarge(type="text", ng-model="items.title", select-on-click)
                        a.docbutton.btn.pull-right(ng-click="DeleteExperience($index)")
                            i.icon-minus-sign
                        br
                        textarea.input-block-level(rows="2", ng-model="items.description", select-on-click)
                    span
                        a.btn(ng-click="AddExperience()")
                            i.icon-plus-sign
                            |  Add
                .SectionContent(ng-switch-default)
                    span(ng-repeat="items in Resume.Section3Items")
                        strong  {{items.title}}
                        p {{items.description}}


include DocumentButtons