
include DocumentButtons

.row
    .span12
        .document.readtext.documentshadow
            h3 Matthew Lovan
            h5 MattLovan@gmail.com | 208.871.2928 <br>
                | 834 Johnson Street, Suite 808 | Victoria, BC V8W 1N3

            h5.SectionTitle  Samples, Demos, Projects

            ul.inline

                li.btn
                    a(href='https://github.com/MagRelo') GitHub

            h5.SectionTitle  Education
            p  University of Idaho
            ul.inline
                li Bachelors of Science, Business Information Systems
                li.pull-right (Dec. 2013)

            h5.SectionTitle  Professional Experience
            p FAST Enterprises
            ul.SectionContent
                li Fast Enterprises develops web-based revenue management software for government agencies. Their product is a multi-tier application utilizing SQL Server, VB.NET, and jQuery to provide a platform for AGILE development. Consultants at FAST Enterprises are responsible for all phases of the SDLC, including gathering requirements, development, testing and documentation.

include DocumentButtons