//
   Created by MLovan
   Date: 9/4/13
   Time: 10:27 AM

.row

    .col-md-4.col-sm-6
        .thumbbox
            a.centerdiv(href="/demos")
                h2 Demos

    .col-md-4.col-sm-6
        .thumbbox
            a.centerdiv(href="/bio")
                h2 About Me

    .col-md-4.col-sm-6
        .thumbbox
            .centerdiv
                h2 Projects

    .col-md-4.col-sm-6
        .thumbbox
            .centerdiv
                h2 Blog

