.row
    .col-md-8.col-sm-8
        h2 offering
        p Full-stack web development consulting

    .col-md-4.col-sm-4
        h2 contact
        p email: mattlovan@gmail.com
        p phone: +1 208 871 2928


.row
    include Demos