.row
    .col-md-8.col-sm-8
        h2 consulting

        h3 full-stack development
        table.table
            thead
            tbody
                tr
                    td.text-right front-end
                    td Angular.js

                tr
                    td.text-right web server
                    td Node.js

                tr
                    td.text-right database
                    td
                        ul.list-unstyled
                            li SQL: SQLServer, Oracle
                            li NoSQL: MongoDB



    .col-md-offset-4.col-sm-offset-4

