//
   Created by MLovan
   Date: 9/4/13
   Time: 10:27 AM

.row

    .col-md-4.col-sm-6
        .thumbbox
            a.centerdiv(href="/demos")
                h2 blog

    .col-md-4.col-sm-6
        .thumbbox
            a.centerdiv(href="/bio")
                h2 bio

    .col-md-4.col-sm-6
        .thumbbox
            .centerdiv
                h2 projects

    .col-md-4.col-sm-6
        .thumbbox
            a.centerdiv(href="/grid")
                h2 grid

