//
   Created by MLovan
   Date: 9/4/13
   Time: 10:27 AM

.row

    .col-md-4.col-sm-6
        .thumbbox
            .centerdiv
                h3 Projects

    .col-md-4.col-sm-6
        .thumbbox
            .centerdiv
                h3 Blog

    .col-md-4.col-sm-6
        .thumbbox
            .centerdiv
                h3 Bio


    .col-md-4.col-sm-6
        .thumbbox
            a.centerdiv(href="https://www.facebook.com/matt.lovan.1", target="_blank")
                img(src="img/FB-f-Logo__white_29.png", alt="facebook logo")
    .col-md-4.col-sm-6
        .thumbbox
            .centerdiv
                h3 Demos

    .col-md-4.col-sm-6
        .thumbbox
            a.centerdiv(href="http://twitter.com/mattlovan", target="_blank")
                img(src="img/twitter-bird-dark-bgs.png" , alt="twitter logo", height="40px", width="40px")
