div.span12()

    div(ng-show="!setup")

        .wrapperloading
           .loading_up
           .loading_down

    div.panel(ng-show="setup")

        h2 {{header.name}}
        h3 Leaderboard
            small   Round {{header.currentRound}} of {{header.totalRounds}}:  last updated {{header.date}}

        div

            form.form-inline
                .form-group
                    label Search
                    input.form-control(type="text", placeholder="type to search", ng-model="playerSearch")


            .btn-group.pull-right
                button.btn.btn-success(ng-click="setScoringStyle('sc')", ng-class="{active: scoring == 'sc'}") Strokes
                button.btn.btn-success(ng-click="setScoringStyle('tp')", ng-class="{active: scoring == 'tp'}") To par
                button.btn.btn-success(ng-click="setScoringStyle('stable')", ng-class="{active: scoring == 'stable'}") Stableford
                button.btn.btn-success(ng-click="setScoringStyle('modstable')", ng-class="{active: scoring == 'modstable'}") Modified Stableford

            table.table.table-bordered.text-center
                thead.shade
                    tr
                        th Hole
                        th 1
                        th 2
                        th 3
                        th 4
                        th 5
                        th 6
                        th 7
                        th 8
                        th 9
                        th 10
                        th 11
                        th 12
                        th 13
                        th 14
                        th 15
                        th 16
                        th 17
                        th 18
                        th Total
                    tr
                        th Par
                        th {{courses[0].h[0].p}}
                        th {{courses[0].h[1].p}}
                        th {{courses[0].h[2].p}}
                        th {{courses[0].h[3].p}}
                        th {{courses[0].h[4].p}}
                        th {{courses[0].h[5].p}}
                        th {{courses[0].h[6].p}}
                        th {{courses[0].h[7].p}}
                        th {{courses[0].h[8].p}}
                        th {{courses[0].h[9].p}}
                        th {{courses[0].h[10].p}}
                        th {{courses[0].h[11].p}}
                        th {{courses[0].h[12].p}}
                        th {{courses[0].h[13].p}}
                        th {{courses[0].h[14].p}}
                        th {{courses[0].h[15].p}}
                        th {{courses[0].h[16].p}}
                        th {{courses[0].h[17].p}}
                        th {{courses[0].parTotal}}
                    tr
                        th Yardage
                        th {{courses[0].h[0].d}}
                        th {{courses[0].h[1].d}}
                        th {{courses[0].h[2].d}}
                        th {{courses[0].h[3].d}}
                        th {{courses[0].h[4].d}}
                        th {{courses[0].h[5].d}}
                        th {{courses[0].h[6].d}}
                        th {{courses[0].h[7].d}}
                        th {{courses[0].h[8].d}}
                        th {{courses[0].h[9].d}}
                        th {{courses[0].h[10].d}}
                        th {{courses[0].h[11].d}}
                        th {{courses[0].h[12].d}}
                        th {{courses[0].h[13].d}}
                        th {{courses[0].h[14].d}}
                        th {{courses[0].h[15].d}}
                        th {{courses[0].h[16].d}}
                        th {{courses[0].h[17].d}}
                        th {{courses[0].yardageTotal}}

                tbody
                    tr(ng-repeat="player in players | filter: playerSearch | limitTo: rowLimit")
                        td {{player.ln}}, {{player.fn}}
                        td {{$eval('player.h.h[0].' + $parent.scoring) }}
                        td {{$eval('player.h.h[1].' + $parent.scoring) }}
                        td {{$eval('player.h.h[2].' + $parent.scoring) }}
                        td {{$eval('player.h.h[3].' + $parent.scoring) }}
                        td {{$eval('player.h.h[4].' + $parent.scoring) }}
                        td {{$eval('player.h.h[5].' + $parent.scoring) }}
                        td {{$eval('player.h.h[6].' + $parent.scoring) }}
                        td {{$eval('player.h.h[7].' + $parent.scoring) }}
                        td {{$eval('player.h.h[8].' + $parent.scoring) }}
                        td {{$eval('player.h.h[9].' + $parent.scoring) }}
                        td {{$eval('player.h.h[10].' + $parent.scoring) }}
                        td {{$eval('player.h.h[11].' + $parent.scoring) }}
                        td {{$eval('player.h.h[12].' + $parent.scoring) }}
                        td {{$eval('player.h.h[13].' + $parent.scoring) }}
                        td {{$eval('player.h.h[14].' + $parent.scoring) }}
                        td {{$eval('player.h.h[15].' + $parent.scoring) }}
                        td {{$eval('player.h.h[16].' + $parent.scoring) }}
                        td {{$eval('player.h.h[17].' + $parent.scoring) }}
                        td {{$eval('player.' + $parent.scoring)}}

            ul.list-inline.list-unstyled
                li
                    |Use the search box to find a golfer, or
                li
                    button.btn.btn-success(ng-click="moreRows()") show more rows
