.row

  .col-md-5
    h2 click on the
      label.sr-only map icon
      img.twitterTitleIcon(ng-src="fonts/twitter_mapMarker_yellow.svg")
      | to view the tweet

  //search form
  .col-md-5
    .input-group
      input.form-control(type='text', placeholder="search term", ng-model="tagSearchInput")
      span.input-group-btn
        button.btn.btn-primary(type='button', ng-click="searchTwitter(tagSearchInput)") search


  .col-md-2
    h2 help
      span.glyphicon.glyphicon-question-sign


//info window, map & tweet list
.row
  .col-md-12
    .panel

      .loadingPanel(ng-hide="twitterData")

        .loadingtext(ng-bind="'searching for #' + tweetSearchType+ '...  '")
        .wrapperloading
          .loading_up
          .loading_down

      .tweetWindow(gm-info-window='infoWindow')

        a(ng-href="http://www.twitter.com/{{tweet.user.screen_name}}", target="_blank")
          img.tweetPic(ng-src="{{tweet.user.profile_image_url}}")

        p.tweetUser {{tweet.user.name}}
        .clearfix

        //time
        p(ng-bind="tweet.time").tweetDate

        .tweetBack
            p.tweetText {{tweet.text | tweetText}}

      div
        gm-map.map(gm-map-id='\'myMap\'', gm-center="center", gm-map-options="options.map")
          gm-markers(gm-objects='twitterData', gm-get-lat-lng='{ lat: object.geo.coordinates.0, lng: object.geo.coordinates.1 }', gm-get-marker-options='getMarkerOptions(object)', gm-on-click="tweet = object; infoWindow.open(marker.getMap(), marker); selectMarker(object, marker);")

.row
    .col-md-12
        h2
            small  coordinates: {{centerLat}}°N - {{centerLng * -1}}°W