
.panel.col-md-8
  gm-map.map(gm-map-id='\'myMap\'', gm-center="center", gm-map-options="options.map")

.col-md-4
  h2 Boise Food Truck Tweets
  h4 Coming soon...
  slider(floor="0", ceiling="30", step="1", precision="1")


  .panel
    h3 Current Map:
    p Lat: {{centerLat}}
    p Lng: {{centerLng}}