
h2 twitter map (under construction)
  small  within 15mi of {{centerLat}}°N {{centerLng * -1}}°W


ul.list-inline
  li
    h4 Search:
  li
    .btn-group
      button.btn.btn-primary.btn-sm(ng-click="getTweets('all')", ng-class="{active: tweetSearchType == 'all'}") recent local
      button.btn.btn-primary.btn-sm(ng-click="getTweets('boise')", ng-class="{active: tweetSearchType == 'boise'}") boise
      button.btn.btn-primary.btn-sm(ng-click="getTweets('news')", ng-class="{active: tweetSearchType == 'news'}") boise news
      button.btn.btn-primary.btn-sm(ng-click="getTweets('foodTruck')", ng-class="{active: tweetSearchType == 'foodTruck'}") boise food trucks
      button.btn.btn-primary.btn-sm(ng-click="getTweets('blessed')", ng-class="{active: tweetSearchType == 'blessed'}") #blessed

h4 * Most tweets to do not have location data - click search buttons to refresh *

.row
  .col-md-8
    .panel

      div.tweetWindow(gm-info-window='infoWindow')
        a(ng-href="http://www.twitter.com/{{tweet.user.screen_name}}", target="_blank")
          img.tweetPic(ng-src="{{tweet.user.profile_image_url}}")
        span.tweetTitle {{tweet.user.name}}

        small.pull-right(ng-bind="tweet.created_at | truncate:16")
        .clearfix
        p.well-sm(ng-bind="tweet.text")
        .clearfix


      gm-map.map(gm-map-id='\'myMap\'', gm-center="center", gm-map-options="options.map")
        gm-markers(gm-objects='twitterData.statuses', gm-get-lat-lng='{ lat: object.geo.coordinates.0, lng: object.geo.coordinates.1 }', gm-get-marker-options='getTweetOpts(object)', gm-on-click="tweet = object; infoWindow.open(marker.getMap(), marker); selectTweet(object, marker);")


  .col-md-4(ng-repeat="tweet in twitterData.statuses")
    .panel.tweetWell

      h3
        a(ng-href="http://www.twitter.com/{{tweet.user.screen_name}}", target="_blank")
          img.tweetPic(ng-src="{{tweet.user.profile_image_url}}")
        span.tweetTitle {{tweet.user.name}}

        span.pull-right.tweetInfo
          .glyphicon.glyphicon-info-sign(ng-click="show = !show")

      p(ng-show="show")
        small  {{tweet.user.description}}

      div.pull-up(ng-hide="show")
        small.pull-right(ng-bind="tweet.created_at | truncate:16")
        .clearfix
        p.tweetText.shade(ng-bind="tweet.text")








//
//.row
//  .col-md-4
//      h3 map details
//        small  data from Google Maps
//      ul
//        li center latitude: {{centerLat}}
//        li center longitude : {{centerLng}}
//        li zoom level: {{zoom}}
//
//  .col-md-4
//      h3 page visitors
//        small  data from Google Analytics
//      ul
//        li coming soon...
//
//  .col-md-4
//    h3 tweet counts
//      small  data from Twitter
//    ul
//      li coming soon...