
h2 twitter map (under construction)
  small  within 2000mi of {{centerLat}}°N {{centerLng * -1}}°W


ul.list-inline
  li
    h4 Search:
  li
    .btn-group
      //button.btn.btn-primary.btn-sm(ng-click="getTweets('boise')", ng-class="{active: tweetSearchType == 'boise'}") boise
      button.btn.btn-primary.btn-sm(ng-click="getTweets('all')", ng-class="{active: tweetSearchType == 'all'}") all
      //button.btn.btn-primary.btn-sm(ng-click="getTweets('news')", ng-class="{active: tweetSearchType == 'news'}") #news
      //button.btn.btn-primary.btn-sm(ng-click="getTweets('foodTruck')", ng-class="{active: tweetSearchType == 'foodTruck'}") boise food trucks
      button.btn.btn-primary.btn-sm(ng-click="getTweets('blessed')", ng-class="{active: tweetSearchType == 'blessed'}") #blessed


.row
  .col-md-9
    .panel

      .tweetWindow(gm-info-window='infoWindow')

        a(ng-href="http://www.twitter.com/{{tweet.user.screen_name}}", target="_blank")
          img.tweetPic(ng-src="{{tweet.user.profile_image_url}}")

        p.tweetUser {{tweet.user.name | truncate: 20}}
        .clearfix

        //time
        p.tweetDate {{tweet.created_at | truncate:16}}

        .tweetBack
            p.tweetText {{tweet.text}}

      gm-map.map(gm-map-id='\'myMap\'', gm-center="center", gm-map-options="options.map")
        gm-markers(gm-objects='twitterData.statuses', gm-get-lat-lng='{ lat: object.geo.coordinates.0, lng: object.geo.coordinates.1 }', gm-get-marker-options='getTweetOpts(object)', gm-on-click="tweet = object; infoWindow.open(marker.getMap(), marker); selectTweet(object, marker);")


  .col-md-3(ng-repeat="tweet in twitterData.statuses")

    .tweetPanel

      .tweetHeader

        //pic
        a(ng-click="show = !show", href="")
          img.tweetPic(ng-src="{{tweet.user.profile_image_url}}")

        //name
        span.tweetUser
          | {{tweet.user.name | truncate: 16}}

      //user info
      div(ng-show="show")
        small  {{tweet.user.description | truncate:80}}
        div
          a.pull-right(ng-href="http://www.twitter.com/{{tweet.user.screen_name}}", target="_blank")
            small profile >


      div(ng-hide="show")
        //time
        small.shade {{tweet.created_at | truncate:16}}:
        .clearfix
        //tweet
        p {{tweet.text}}








//
//.row
//  .col-md-4
//      h3 map details
//        small  data from Google Maps
//      ul
//        li center latitude: {{centerLat}}
//        li center longitude : {{centerLng}}
//        li zoom level: {{zoom}}
//
//  .col-md-4
//      h3 page visitors
//        small  data from Google Analytics
//      ul
//        li coming soon...
//
//  .col-md-4
//    h3 tweet counts
//      small  data from Twitter
//    ul
//      li coming soon...