
h2 boise tweets (in progress)
  small  within 6KM of 43.62298° N 116.2394° W
  button.btn.btn-default.btn-sm.pull-right(ng-click="setup()") refresh
  .clearfix

.row
  .col-md-8
    .panel
      gm-map.map(gm-map-id='\'myMap\'', gm-center="center", gm-map-options="options.map")
        gm-markers(gm-objects='twitterData.statuses', gm-get-lat-lng='{ lat: object.geo.coordinates.0, lng: object.geo.coordinates.1 }', gm-get-marker-options='getTweetOpts(object)', gm-on-click='selectTweet(object, marker)')

  .col-md-4(class="animate-repeat", ng-repeat="tweet in twitterData.statuses")
    .panel.tweetWell
      h3
        span
          img.tweetPic(ng-src="{{tweet.user.profile_image_url}}")
        | {{tweet.user.name}}

        span.pull-right.tweetInfo
          .glyphicon.glyphicon-info-sign(ng-click="show = !show")

      p(ng-show="show")
        small  {{tweet.user.description}}

      p.shade(ng-hide="show") {{tweet.text}}







//
//.row
//  .col-md-4
//      h3 map details
//        small  data from Google Maps
//      ul
//        li center latitude: {{centerLat}}
//        li center longitude : {{centerLng}}
//        li zoom level: {{zoom}}
//
//  .col-md-4
//      h3 page visitors
//        small  data from Google Analytics
//      ul
//        li coming soon...
//
//  .col-md-4
//    h3 tweet counts
//      small  data from Twitter
//    ul
//      li coming soon...