!!!
html(ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        title Matt Lovan
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='/css/bootstrap.css')
    body
        block body