/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ #tridiv{
    /*perspective*/
    -webkit-perspective:800px;
    -moz-perspective:800px;
    -ms-perspective:800px;
    -o-perspective:800px;
    perspective:800px;
    position:absolute;
    overflow:hidden;
    width:100%;
    height:100%;
    background: transparent;
    font-size: 175%;
    opacity: .5;
    z-index: -1;
}
.scene, .shape, .face, .face-wrapper, .cr{
    position:absolute;
    /*transform-style*/
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style:preserve-3d;
}
.scene{
    margin: 4em 0 0 4em;
}
.shape{
    top:50%;
    left:50%;
    width:0;
    height:0;
    /*transform-origin*/
    -webkit-transform-origin:50%;
    -moz-transform-origin:50%;
    -ms-transform-origin:50%;
    -o-transform-origin:50%;
    transform-origin:50%;
}
.face, .face-wrapper{
    overflow:hidden;
    /*transform-origin*/
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -ms-transform-origin:0 0;
    -o-transform-origin:0 0;
    transform-origin:0 0;
    /*backface-visibility*/
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* hidden by default, prevent blinking and other weird rendering glitchs */
:;
}
.face{
    /*background-size*/
    -webkit-background-size:100% 100%!important;
    -moz-background-size:100% 100%!important;
    -o-background-size:100% 100%!important;
    background-size:100% 100%!important;
    background-position:center;
}
.face-wrapper .face{
    left:100%;
    width:100%;
    height:100%;
}
.photon-shader{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.side{
    left:50%;
}
.cr, .cr .side{
    height:100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk{
    width:100%;
    height:100%;
}
[class*="cuboid"] .bk{
    left:100%;
}
[class*="cuboid"] .rt{
    /*transform*/
    -webkit-transform:rotateY(-90deg) translateX(-50%);
    -moz-transform:rotateY(-90deg) translateX(-50%);
    -ms-transform:rotateY(-90deg) translateX(-50%);
    -o-transform:rotateY(-90deg) translateX(-50%);
    transform:rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt{
    /*transform*/
    -webkit-transform:rotateY(90deg) translateX(-50%);
    -moz-transform:rotateY(90deg) translateX(-50%);
    -ms-transform:rotateY(90deg) translateX(-50%);
    -o-transform:rotateY(90deg) translateX(-50%);
    transform:rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp{
    /*transform*/
    -webkit-transform:rotateX(90deg) translateY(-50%);
    -moz-transform:rotateX(90deg) translateY(-50%);
    -ms-transform:rotateX(90deg) translateY(-50%);
    -o-transform:rotateX(90deg) translateY(-50%);
    transform:rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm{
    /*transform*/
    -webkit-transform:rotateX(-90deg) translateY(-50%);
    -moz-transform:rotateX(-90deg) translateY(-50%);
    -ms-transform:rotateX(-90deg) translateY(-50%);
    -o-transform:rotateX(-90deg) translateY(-50%);
    transform:rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt{
    left:100%;
}
[class*="cuboid"] .bm{
    top:100%;
}
[class*="prism"] .ft, [class*="prism"] .bk{
    width:100%;
    height:100%;
}
[class*="prism"] .bk{
    left:100%;
}
[class*="prism"] .rt{
    /*transform*/
    -webkit-transform:rotateY(-90deg) translateX(-50%);
    -moz-transform:rotateY(-90deg) translateX(-50%);
    -ms-transform:rotateY(-90deg) translateX(-50%);
    -o-transform:rotateY(-90deg) translateX(-50%);
    transform:rotateY(-90deg) translateX(-50%);
}
[class*="prism"] .lt{
    /*transform*/
    -webkit-transform:rotateY(90deg) translateX(-50%);
    -moz-transform:rotateY(90deg) translateX(-50%);
    -ms-transform:rotateY(90deg) translateX(-50%);
    -o-transform:rotateY(90deg) translateX(-50%);
    transform:rotateY(90deg) translateX(-50%);
}
[class*="prism"] .bm{
    /*transform*/
    -webkit-transform:rotateX(-90deg) translateY(-50%);
    -moz-transform:rotateX(-90deg) translateY(-50%);
    -ms-transform:rotateX(-90deg) translateY(-50%);
    -o-transform:rotateX(-90deg) translateY(-50%);
    transform:rotateX(-90deg) translateY(-50%);
}
[class*="prism"] .lt{
    left:100%;
}
[class*="prism"] .bm{
    top:100%;
}
[class*="prism"] .rt .face{
    left:-100%;
    /*transform-origin*/
    -webkit-transform-origin:100% 0;
    -moz-transform-origin:100% 0;
    -ms-transform-origin:100% 0;
    -o-transform-origin:100% 0;
    transform-origin:100% 0;
}
/* .cub-1 styles */
.cub-1{
    /*transform*/
    -webkit-transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-1 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-1 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-1 .rt, .cub-1 .lt{
    width:2em;
    height:2em;
}
.cub-1 .tp, .cub-1 .bm{
    width:2em;
    height:2em;
}
.cub-1 .face{
    background-color:#00B4CC;
}
/* .cub-2 styles */
.cub-2{
    /*transform*/
    -webkit-transform:translate3D(6em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(6em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(6em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(6em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(6em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-2 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-2 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-2 .rt, .cub-2 .lt{
    width:2em;
    height:2em;
}
.cub-2 .tp, .cub-2 .bm{
    width:2em;
    height:2em;
}
.cub-2 .face{
    background-color:#00B4CC;
}
/* .cub-3 styles */
.cub-3{
    /*transform*/
    -webkit-transform:translate3D(0em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(0em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(0em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(0em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(0em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-3 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-3 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-3 .rt, .cub-3 .lt{
    width:2em;
    height:2em;
}
.cub-3 .tp, .cub-3 .bm{
    width:2em;
    height:2em;
}
.cub-3 .face{
    background-color:#008C9E;
}
/* .cub-4 styles */
.cub-4{
    /*transform*/
    -webkit-transform:translate3D(0em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(0em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(0em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(0em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(0em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-4 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-4 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-4 .rt, .cub-4 .lt{
    width:2em;
    height:2em;
}
.cub-4 .tp, .cub-4 .bm{
    width:2em;
    height:2em;
}
.cub-4 .face{
    background-color:#005F6B;
}
/* .pri-1 styles */
.pri-1{
    /*transform*/
    -webkit-transform:translate3D(2em, -4em, 0em) rotateX(0deg) rotateY(-270deg) rotateZ(360deg);
    -moz-transform:translate3D(2em, -4em, 0em) rotateX(0deg) rotateY(-270deg) rotateZ(360deg);
    -ms-transform:translate3D(2em, -4em, 0em) rotateX(0deg) rotateY(-270deg) rotateZ(360deg);
    -o-transform:translate3D(2em, -4em, 0em) rotateX(0deg) rotateY(-270deg) rotateZ(360deg);
    transform:translate3D(2em, -4em, 0em) rotateX(0deg) rotateY(-270deg) rotateZ(360deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.pri-1 .rt .face{
    /*transform*/
    -webkit-transform:rotateZ(-45.00000000000001deg);
    -moz-transform:rotateZ(-45.00000000000001deg);
    -ms-transform:rotateZ(-45.00000000000001deg);
    -o-transform:rotateZ(-45.00000000000001deg);
    transform:rotateZ(-45.00000000000001deg);
}
.pri-1 .lt .face{
    /*transform*/
    -webkit-transform:rotateZ(45.00000000000001deg);
    -moz-transform:rotateZ(45.00000000000001deg);
    -ms-transform:rotateZ(45.00000000000001deg);
    -o-transform:rotateZ(45.00000000000001deg);
    transform:rotateZ(45.00000000000001deg);
}
.pri-1 .ft{
    height:2.8284271247461903em;
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -moz-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -ms-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -o-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    transform:translateZ(-1em) rotateX(45.00000000000001deg);
}
.pri-1 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.pri-1 .rt, .pri-1 .lt{
    width:2em;
    height:2em;
}
.pri-1 .rt .face, .pri-1 .lt .face{
    height:2.8284271247461903em;
}
.pri-1 .bm{
    width:2em;
    height:2em;
}
.pri-1 .face{
    background-color:#005F6B;
}
/* .cub-5 styles */
.cub-5{
    /*transform*/
    -webkit-transform:translate3D(6em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(6em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(6em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(6em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(6em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-5 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-5 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-5 .rt, .cub-5 .lt{
    width:2em;
    height:2em;
}
.cub-5 .tp, .cub-5 .bm{
    width:2em;
    height:2em;
}
.cub-5 .face{
    background-color:#008C9E;
}
/* .cub-6 styles */
.cub-6{
    /*transform*/
    -webkit-transform:translate3D(6em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(6em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(6em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(6em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(6em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-6 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-6 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-6 .rt, .cub-6 .lt{
    width:2em;
    height:2em;
}
.cub-6 .tp, .cub-6 .bm{
    width:2em;
    height:2em;
}
.cub-6 .face{
    background-color:#005F6B;
}
/* .pri-2 styles */
.pri-2{
    /*transform*/
    -webkit-transform:translate3D(4em, -4em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(360deg);
    -moz-transform:translate3D(4em, -4em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(360deg);
    -ms-transform:translate3D(4em, -4em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(360deg);
    -o-transform:translate3D(4em, -4em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(360deg);
    transform:translate3D(4em, -4em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(360deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.pri-2 .rt .face{
    /*transform*/
    -webkit-transform:rotateZ(-45.00000000000001deg);
    -moz-transform:rotateZ(-45.00000000000001deg);
    -ms-transform:rotateZ(-45.00000000000001deg);
    -o-transform:rotateZ(-45.00000000000001deg);
    transform:rotateZ(-45.00000000000001deg);
}
.pri-2 .lt .face{
    /*transform*/
    -webkit-transform:rotateZ(45.00000000000001deg);
    -moz-transform:rotateZ(45.00000000000001deg);
    -ms-transform:rotateZ(45.00000000000001deg);
    -o-transform:rotateZ(45.00000000000001deg);
    transform:rotateZ(45.00000000000001deg);
}
.pri-2 .ft{
    height:2.8284271247461903em;
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -moz-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -ms-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -o-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    transform:translateZ(-1em) rotateX(45.00000000000001deg);
}
.pri-2 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.pri-2 .rt, .pri-2 .lt{
    width:2em;
    height:2em;
}
.pri-2 .rt .face, .pri-2 .lt .face{
    height:2.8284271247461903em;
}
.pri-2 .bm{
    width:2em;
    height:2em;
}
.pri-2 .face{
    background-color:#005F6B;
}
/* .pri-3 styles */
.pri-3{
    /*transform*/
    -webkit-transform:translate3D(2em, -2em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(180deg);
    -moz-transform:translate3D(2em, -2em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(180deg);
    -ms-transform:translate3D(2em, -2em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(180deg);
    -o-transform:translate3D(2em, -2em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(180deg);
    transform:translate3D(2em, -2em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(180deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.pri-3 .rt .face{
    /*transform*/
    -webkit-transform:rotateZ(-45.00000000000001deg);
    -moz-transform:rotateZ(-45.00000000000001deg);
    -ms-transform:rotateZ(-45.00000000000001deg);
    -o-transform:rotateZ(-45.00000000000001deg);
    transform:rotateZ(-45.00000000000001deg);
}
.pri-3 .lt .face{
    /*transform*/
    -webkit-transform:rotateZ(45.00000000000001deg);
    -moz-transform:rotateZ(45.00000000000001deg);
    -ms-transform:rotateZ(45.00000000000001deg);
    -o-transform:rotateZ(45.00000000000001deg);
    transform:rotateZ(45.00000000000001deg);
}
.pri-3 .ft{
    height:2.8284271247461903em;
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -moz-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -ms-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -o-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    transform:translateZ(-1em) rotateX(45.00000000000001deg);
}
.pri-3 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.pri-3 .rt, .pri-3 .lt{
    width:2em;
    height:2em;
}
.pri-3 .rt .face, .pri-3 .lt .face{
    height:2.8284271247461903em;
}
.pri-3 .bm{
    width:2em;
    height:2em;
}
.pri-3 .face{
    background-color:#008C9E;
}
/* .pri-4 styles */
.pri-4{
    /*transform*/
    -webkit-transform:translate3D(4em, -2em, 0em) rotateX(0deg) rotateY(-630deg) rotateZ(180deg);
    -moz-transform:translate3D(4em, -2em, 0em) rotateX(0deg) rotateY(-630deg) rotateZ(180deg);
    -ms-transform:translate3D(4em, -2em, 0em) rotateX(0deg) rotateY(-630deg) rotateZ(180deg);
    -o-transform:translate3D(4em, -2em, 0em) rotateX(0deg) rotateY(-630deg) rotateZ(180deg);
    transform:translate3D(4em, -2em, 0em) rotateX(0deg) rotateY(-630deg) rotateZ(180deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.pri-4 .rt .face{
    /*transform*/
    -webkit-transform:rotateZ(-45.00000000000001deg);
    -moz-transform:rotateZ(-45.00000000000001deg);
    -ms-transform:rotateZ(-45.00000000000001deg);
    -o-transform:rotateZ(-45.00000000000001deg);
    transform:rotateZ(-45.00000000000001deg);
}
.pri-4 .lt .face{
    /*transform*/
    -webkit-transform:rotateZ(45.00000000000001deg);
    -moz-transform:rotateZ(45.00000000000001deg);
    -ms-transform:rotateZ(45.00000000000001deg);
    -o-transform:rotateZ(45.00000000000001deg);
    transform:rotateZ(45.00000000000001deg);
}
.pri-4 .ft{
    height:2.8284271247461903em;
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -moz-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -ms-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -o-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    transform:translateZ(-1em) rotateX(45.00000000000001deg);
}
.pri-4 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.pri-4 .rt, .pri-4 .lt{
    width:2em;
    height:2em;
}
.pri-4 .rt .face, .pri-4 .lt .face{
    height:2.8284271247461903em;
}
.pri-4 .bm{
    width:2em;
    height:2em;
}
.pri-4 .face{
    background-color:#008C9E;
}
/* .pri-5 styles */
.pri-5{
    /*transform*/
    -webkit-transform:translate3D(10em, 2em, 0em) rotateX(0deg) rotateY(-1170deg) rotateZ(540deg);
    -moz-transform:translate3D(10em, 2em, 0em) rotateX(0deg) rotateY(-1170deg) rotateZ(540deg);
    -ms-transform:translate3D(10em, 2em, 0em) rotateX(0deg) rotateY(-1170deg) rotateZ(540deg);
    -o-transform:translate3D(10em, 2em, 0em) rotateX(0deg) rotateY(-1170deg) rotateZ(540deg);
    transform:translate3D(10em, 2em, 0em) rotateX(0deg) rotateY(-1170deg) rotateZ(540deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.pri-5 .rt .face{
    /*transform*/
    -webkit-transform:rotateZ(-45.00000000000001deg);
    -moz-transform:rotateZ(-45.00000000000001deg);
    -ms-transform:rotateZ(-45.00000000000001deg);
    -o-transform:rotateZ(-45.00000000000001deg);
    transform:rotateZ(-45.00000000000001deg);
}
.pri-5 .lt .face{
    /*transform*/
    -webkit-transform:rotateZ(45.00000000000001deg);
    -moz-transform:rotateZ(45.00000000000001deg);
    -ms-transform:rotateZ(45.00000000000001deg);
    -o-transform:rotateZ(45.00000000000001deg);
    transform:rotateZ(45.00000000000001deg);
}
.pri-5 .ft{
    height:2.8284271247461903em;
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -moz-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -ms-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -o-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    transform:translateZ(-1em) rotateX(45.00000000000001deg);
}
.pri-5 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.pri-5 .rt, .pri-5 .lt{
    width:2em;
    height:2em;
}
.pri-5 .rt .face, .pri-5 .lt .face{
    height:2.8284271247461903em;
}
.pri-5 .bm{
    width:2em;
    height:2em;
}
.pri-5 .face{
    background-color:#005F6B;
}
/* .cub-7 styles */
.cub-7{
    /*transform*/
    -webkit-transform:translate3D(12em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(12em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(12em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(12em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(12em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-7 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-7 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-7 .rt, .cub-7 .lt{
    width:2em;
    height:2em;
}
.cub-7 .tp, .cub-7 .bm{
    width:2em;
    height:2em;
}
.cub-7 .face{
    background-color:#005F6B;
}
/* .cub-8 styles */
.cub-8{
    /*transform*/
    -webkit-transform:translate3D(10em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(10em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(10em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(10em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(10em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-8 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-8 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-8 .rt, .cub-8 .lt{
    width:2em;
    height:2em;
}
.cub-8 .tp, .cub-8 .bm{
    width:2em;
    height:2em;
}
.cub-8 .face{
    background-color:#008C9E;
}
/* .pri-6 styles */
.pri-6{
    /*transform*/
    -webkit-transform:translate3D(10em, -4em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(360deg);
    -moz-transform:translate3D(10em, -4em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(360deg);
    -ms-transform:translate3D(10em, -4em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(360deg);
    -o-transform:translate3D(10em, -4em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(360deg);
    transform:translate3D(10em, -4em, 0em) rotateX(0deg) rotateY(-450deg) rotateZ(360deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.pri-6 .rt .face{
    /*transform*/
    -webkit-transform:rotateZ(-45.00000000000001deg);
    -moz-transform:rotateZ(-45.00000000000001deg);
    -ms-transform:rotateZ(-45.00000000000001deg);
    -o-transform:rotateZ(-45.00000000000001deg);
    transform:rotateZ(-45.00000000000001deg);
}
.pri-6 .lt .face{
    /*transform*/
    -webkit-transform:rotateZ(45.00000000000001deg);
    -moz-transform:rotateZ(45.00000000000001deg);
    -ms-transform:rotateZ(45.00000000000001deg);
    -o-transform:rotateZ(45.00000000000001deg);
    transform:rotateZ(45.00000000000001deg);
}
.pri-6 .ft{
    height:2.8284271247461903em;
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -moz-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -ms-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -o-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    transform:translateZ(-1em) rotateX(45.00000000000001deg);
}
.pri-6 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.pri-6 .rt, .pri-6 .lt{
    width:2em;
    height:2em;
}
.pri-6 .rt .face, .pri-6 .lt .face{
    height:2.8284271247461903em;
}
.pri-6 .bm{
    width:2em;
    height:2em;
}
.pri-6 .face{
    background-color:#005F6B;
}
/* .cub-9 styles */
.cub-9{
    /*transform*/
    -webkit-transform:translate3D(12em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(12em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(12em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(12em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(12em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-9 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-9 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-9 .rt, .cub-9 .lt{
    width:2em;
    height:2em;
}
.cub-9 .tp, .cub-9 .bm{
    width:2em;
    height:2em;
}
.cub-9 .face{
    background-color:#005F6B;
}
/* .pri-7 styles */
.pri-7{
    /*transform*/
    -webkit-transform:translate3D(14em, -4em, 0em) rotateX(0deg) rotateY(-270deg) rotateZ(360deg);
    -moz-transform:translate3D(14em, -4em, 0em) rotateX(0deg) rotateY(-270deg) rotateZ(360deg);
    -ms-transform:translate3D(14em, -4em, 0em) rotateX(0deg) rotateY(-270deg) rotateZ(360deg);
    -o-transform:translate3D(14em, -4em, 0em) rotateX(0deg) rotateY(-270deg) rotateZ(360deg);
    transform:translate3D(14em, -4em, 0em) rotateX(0deg) rotateY(-270deg) rotateZ(360deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.pri-7 .rt .face{
    /*transform*/
    -webkit-transform:rotateZ(-45.00000000000001deg);
    -moz-transform:rotateZ(-45.00000000000001deg);
    -ms-transform:rotateZ(-45.00000000000001deg);
    -o-transform:rotateZ(-45.00000000000001deg);
    transform:rotateZ(-45.00000000000001deg);
}
.pri-7 .lt .face{
    /*transform*/
    -webkit-transform:rotateZ(45.00000000000001deg);
    -moz-transform:rotateZ(45.00000000000001deg);
    -ms-transform:rotateZ(45.00000000000001deg);
    -o-transform:rotateZ(45.00000000000001deg);
    transform:rotateZ(45.00000000000001deg);
}
.pri-7 .ft{
    height:2.8284271247461903em;
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -moz-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -ms-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -o-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    transform:translateZ(-1em) rotateX(45.00000000000001deg);
}
.pri-7 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.pri-7 .rt, .pri-7 .lt{
    width:2em;
    height:2em;
}
.pri-7 .rt .face, .pri-7 .lt .face{
    height:2.8284271247461903em;
}
.pri-7 .bm{
    width:2em;
    height:2em;
}
.pri-7 .face{
    background-color:#005F6B;
}
/* .cub-10 styles */
.cub-10{
    /*transform*/
    -webkit-transform:translate3D(0em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(0em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(0em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(0em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(0em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-10 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-10 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-10 .rt, .cub-10 .lt{
    width:2em;
    height:2em;
}
.cub-10 .tp, .cub-10 .bm{
    width:2em;
    height:2em;
}
.cub-10 .face{
    background-color:#005F6B;
}
/* .cub-11 styles */
.cub-11{
    /*transform*/
    -webkit-transform:translate3D(6em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(6em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(6em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(6em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(6em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-11 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-11 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-11 .rt, .cub-11 .lt{
    width:2em;
    height:2em;
}
.cub-11 .tp, .cub-11 .bm{
    width:2em;
    height:2em;
}
.cub-11 .face{
    background-color:#005F6B;
}
/* .cub-12 styles */
.cub-12{
    /*transform*/
    -webkit-transform:translate3D(18em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(18em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(18em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(18em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(18em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-12 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-12 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-12 .rt, .cub-12 .lt{
    width:2em;
    height:2em;
}
.cub-12 .tp, .cub-12 .bm{
    width:2em;
    height:2em;
}
.cub-12 .face{
    background-color:#008C9E;
}
/* .cub-13 styles */
.cub-13{
    /*transform*/
    -webkit-transform:translate3D(10em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(10em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(10em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(10em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(10em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-13 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-13 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-13 .rt, .cub-13 .lt{
    width:2em;
    height:2em;
}
.cub-13 .tp, .cub-13 .bm{
    width:2em;
    height:2em;
}
.cub-13 .face{
    background-color:#00B4CC;
}
/* .pri-8 styles */
.pri-8{
    /*transform*/
    -webkit-transform:translate3D(14em, 2em, 0em) rotateX(-180deg) rotateY(-630deg) rotateZ(360deg);
    -moz-transform:translate3D(14em, 2em, 0em) rotateX(-180deg) rotateY(-630deg) rotateZ(360deg);
    -ms-transform:translate3D(14em, 2em, 0em) rotateX(-180deg) rotateY(-630deg) rotateZ(360deg);
    -o-transform:translate3D(14em, 2em, 0em) rotateX(-180deg) rotateY(-630deg) rotateZ(360deg);
    transform:translate3D(14em, 2em, 0em) rotateX(-180deg) rotateY(-630deg) rotateZ(360deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.pri-8 .rt .face{
    /*transform*/
    -webkit-transform:rotateZ(-45.00000000000001deg);
    -moz-transform:rotateZ(-45.00000000000001deg);
    -ms-transform:rotateZ(-45.00000000000001deg);
    -o-transform:rotateZ(-45.00000000000001deg);
    transform:rotateZ(-45.00000000000001deg);
}
.pri-8 .lt .face{
    /*transform*/
    -webkit-transform:rotateZ(45.00000000000001deg);
    -moz-transform:rotateZ(45.00000000000001deg);
    -ms-transform:rotateZ(45.00000000000001deg);
    -o-transform:rotateZ(45.00000000000001deg);
    transform:rotateZ(45.00000000000001deg);
}
.pri-8 .ft{
    height:2.8284271247461903em;
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -moz-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -ms-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    -o-transform:translateZ(-1em) rotateX(45.00000000000001deg);
    transform:translateZ(-1em) rotateX(45.00000000000001deg);
}
.pri-8 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.pri-8 .rt, .pri-8 .lt{
    width:2em;
    height:2em;
}
.pri-8 .rt .face, .pri-8 .lt .face{
    height:2.8284271247461903em;
}
.pri-8 .bm{
    width:2em;
    height:2em;
}
.pri-8 .face{
    background-color:#005F6B;
}
/* .cub-14 styles */
.cub-14{
    /*transform*/
    -webkit-transform:translate3D(14em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(14em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(14em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(14em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(14em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-14 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-14 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-14 .rt, .cub-14 .lt{
    width:2em;
    height:2em;
}
.cub-14 .tp, .cub-14 .bm{
    width:2em;
    height:2em;
}
.cub-14 .face{
    background-color:#00B4CC;
}
/* .cub-15 styles */
.cub-15{
    /*transform*/
    -webkit-transform:translate3D(18em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(18em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(18em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(18em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(18em, -4em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-15 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-15 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-15 .rt, .cub-15 .lt{
    width:2em;
    height:2em;
}
.cub-15 .tp, .cub-15 .bm{
    width:2em;
    height:2em;
}
.cub-15 .face{
    background-color:#005F6B;
}
/* .cub-16 styles */
.cub-16{
    /*transform*/
    -webkit-transform:translate3D(18em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(18em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(18em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(18em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(18em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-16 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-16 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-16 .rt, .cub-16 .lt{
    width:2em;
    height:2em;
}
.cub-16 .tp, .cub-16 .bm{
    width:2em;
    height:2em;
}
.cub-16 .face{
    background-color:#00B4CC;
}
/* .cub-17 styles */
.cub-17{
    /*transform*/
    -webkit-transform:translate3D(18em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(18em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(18em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(18em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(18em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-17 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-17 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-17 .rt, .cub-17 .lt{
    width:2em;
    height:2em;
}
.cub-17 .tp, .cub-17 .bm{
    width:2em;
    height:2em;
}
.cub-17 .face{
    background-color:#005F6B;
}
/* .cub-18 styles */
.cub-18{
    /*transform*/
    -webkit-transform:translate3D(20em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(20em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(20em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(20em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(20em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-18 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-18 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-18 .rt, .cub-18 .lt{
    width:2em;
    height:2em;
}
.cub-18 .tp, .cub-18 .bm{
    width:2em;
    height:2em;
}
.cub-18 .face{
    background-color:#005F6B;
}
/* .cub-19 styles */
.cub-19{
    /*transform*/
    -webkit-transform:translate3D(22em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform:translate3D(22em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform:translate3D(22em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform:translate3D(22em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform:translate3D(22em, 2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2em;
    height:2em;
    margin:-1em 0 0 -1em;
}
.cub-19 .ft{
    /*transform*/
    -webkit-transform:translateZ(1em);
    -moz-transform:translateZ(1em);
    -ms-transform:translateZ(1em);
    -o-transform:translateZ(1em);
    transform:translateZ(1em);
}
.cub-19 .bk{
    /*transform*/
    -webkit-transform:translateZ(-1em) rotateY(180deg);
    -moz-transform:translateZ(-1em) rotateY(180deg);
    -ms-transform:translateZ(-1em) rotateY(180deg);
    -o-transform:translateZ(-1em) rotateY(180deg);
    transform:translateZ(-1em) rotateY(180deg);
}
.cub-19 .rt, .cub-19 .lt{
    width:2em;
    height:2em;
}
.cub-19 .tp, .cub-19 .bm{
    width:2em;
    height:2em;
}
.cub-19 .face{
    background-color:#005F6B;
}
