/* app css stylesheet */

a:hover{
    text-decoration:none;
}

.hero-unit{
    color: #ffffff;
    background: #58A9E3;
    border-radius: 0;


  }

body{
    padding-top:40px;
    padding-bottom: 40px;
}


.picture{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #91B5DB;
    border-top-color: #91B5DB;
    border-left-color: #91B5DB;
    border-right-color: #7591b1;
    border-bottom-color: #7591b1;
    border-width: 4px;
    border-style: solid;
}

.SectionTitle{
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    text-transform:uppercase;
    margin-bottom: .5em;
    margin-top: 2em;
    font-weight: bold;
    padding: 2px 1px;
}

.SectionContent{
    max-width: 40em;
    margin-left: 3em;
    margin-top: 1em;
}

.document {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    max-width: 48em;
    margin-left: auto;
    margin-right: auto  ;
}

.documentshadow {
    -moz-box-shadow:    2px 2px 10px 0px #999CA0;
    -webkit-box-shadow: 2px 2px 10px 0px #999CA0;
    box-shadow:         2px 2px 10px 0px #999CA0;
}

.well > p:first-child:first-letter {
    float: left;
    color: #2C4864;
    font-size: 3.75em;
    line-height: 1em;
    padding-right: .2em;
    padding-left: 3px;
    font-family: Georgia;
}

blockquote{margin-top: 1em;}

.divider{
    border-bottom: 0.1em solid #77818B;
    margin-bottom: 1.5em;
}


.btnmargin{
    margin-left: .5em;
    line-height: inherit;
    top: 50%;
 }


.input-append,
.input-prepend {
    margin-bottom: 0;
}

.docButtons{
    margin-bottom: 20px;

}

.docbutton{
    margin-bottom: 3px;
}
.docH3{
    font-size: 24.5px;
    line-height: 40px;
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}

input[type="text"], input[type="email"] , input[type="tel"] {
    font-family : inherit;
    font-size   : 100%;
    font-weight: inherit;
    line-height: inherit;
    border: inherit;
    border-bottom: 1px dashed #58A9E3;
    height: inherit;
    padding: inherit;
    margin: inherit;
    color: inherit;
    text-transform: inherit;
    background: #ddedf9;
}

textarea{
    background: #ddedf9;
    color: inherit;
}

