div.header(ng-controller="navigationCtrl")
    div.visible-md.visible-sm.visible-lg

    //include 3dLogo

    .stripegroup
        .twostripe
        .threestripe
        .fourstripe

    h1.visible-md.visible-sm.visible-lg Matt Lovan
        small  web developer

    nav.navbar.navbar-default(role='navigation')

        .navbar-header
            h1.mobile.visible-xs Matt Lovan
                small  web developer

        ul.nav.navbar-nav
            li
                a.btn.headerButton(href="/consulting", ng-class="{active: location.path() == '/consulting'}") consulting
            li
                a.btn.headerButton(href="/blog", ng-class="{active: location.path() == '/blog'}") blog
            li
                a.btn.headerButton(href="/contact", ng-class="{active: location.path() == '/contact'}") contact
            li
                a.btn.headerButton.dropdown-toggle demos

                ul.dropdown-menu
                    li
                        strong Interactive Forms
                        ul.list-unstyled
                            li
                                a.btn(href="/grid") Multiply game

                    li
                        strong Connect with other services
                        ul.list-unstyled
                            li
                                a.btn(href="/leaderboard") PGA leaderboard
                            li
                                a.btn(href="/maps") twitter map







