|<div id="tridiv">
|    <div class="scene" style="-webkit-transform: rotateY(60deg); -moz-transform: rotateY(60deg); -ms-transform:rotateY(60deg); transform: rotateY(60deg); ">
|        <div class="shape cuboid-1 cub-1">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|            </div>
|            <div class="face rt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0666667);"></div>
|            </div>
|            <div class="face lt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.309804);"></div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.133333);"></div>
|            </div>
|            <div class="face tp">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.243137);"></div>
|            </div>
|        </div>
|        <div class="shape cuboid-2 cub-2">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|            </div>
|            <div class="face rt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0666667);"></div>
|            </div>
|            <div class="face lt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.309804);"></div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.133333);"></div>
|            </div>
|            <div class="face tp">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.243137);"></div>
|            </div>
|        </div>
|        <div class="shape cuboid-3 cub-3">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|            </div>
|            <div class="face rt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0666667);"></div>
|            </div>
|            <div class="face lt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.309804);"></div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.133333);"></div>
|            </div>
|            <div class="face tp">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.243137);"></div>
|            </div>
|        </div>
|        <div class="shape cuboid-4 cub-4">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|            </div>
|            <div class="face rt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0666667);"></div>
|            </div>
|            <div class="face lt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.309804);"></div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.133333);"></div>
|            </div>
|            <div class="face tp">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.243137);"></div>
|            </div>
|        </div>
|        <div class="shape prism-1 pri-1">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.313725);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0666667);"></div>
|            </div>
|            <div class="face-wrapper rt">
|                <div class="face">
|                    <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|                </div>
|            </div>
|            <div class="face-wrapper lt">
|                <div class="face">
|                    <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|                </div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.133333);"></div>
|            </div>
|        </div>
|        <div class="shape cuboid-5 cub-5">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|            </div>
|            <div class="face rt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0666667);"></div>
|            </div>
|            <div class="face lt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.309804);"></div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.133333);"></div>
|            </div>
|            <div class="face tp">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.243137);"></div>
|            </div>
|        </div>
|        <div class="shape cuboid-6 cub-6">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|            </div>
|            <div class="face rt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0666667);"></div>
|            </div>
|            <div class="face lt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.309804);"></div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.133333);"></div>
|            </div>
|            <div class="face tp">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.243137);"></div>
|            </div>
|        </div>
|        <div class="shape prism-2 pri-2">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.141176);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.309804);"></div>
|            </div>
|            <div class="face-wrapper rt">
|                <div class="face">
|                    <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|                </div>
|            </div>
|            <div class="face-wrapper lt">
|                <div class="face">
|                    <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|                </div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.133333);"></div>
|            </div>
|        </div>
|        <div class="shape prism-3 pri-3">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0627451);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.309804);"></div>
|            </div>
|            <div class="face-wrapper rt">
|                <div class="face">
|                    <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|                </div>
|            </div>
|            <div class="face-wrapper lt">
|                <div class="face">
|                    <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|                </div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.243137);"></div>
|            </div>
|        </div>
|        <div class="shape prism-4 pri-4">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.235294);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0666667);"></div>
|            </div>
|            <div class="face-wrapper rt">
|                <div class="face">
|                    <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|                </div>
|            </div>
|            <div class="face-wrapper lt">
|                <div class="face">
|                    <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|                </div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.243137);"></div>
|            </div>
|        </div>
|        <div class="shape cuboid-10 cub-10">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|            </div>
|            <div class="face rt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0666667);"></div>
|            </div>
|            <div class="face lt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.309804);"></div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.133333);"></div>
|            </div>
|            <div class="face tp">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.243137);"></div>
|            </div>
|        </div>
|        <div class="shape cuboid-11 cub-11">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|            </div>
|            <div class="face rt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0666667);"></div>
|            </div>
|            <div class="face lt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.309804);"></div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.133333);"></div>
|            </div>
|            <div class="face tp">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.243137);"></div>
|            </div>
|        </div>
|        <div class="shape cuboid-18 cub-18">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|            </div>
|            <div class="face rt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0666667);"></div>
|            </div>
|            <div class="face lt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.309804);"></div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.133333);"></div>
|            </div>
|            <div class="face tp">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.243137);"></div>
|            </div>
|        </div>
|        <div class="shape cuboid-19 cub-19">
|            <div class="face ft">
|                <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.286275);"></div>
|            </div>
|            <div class="face bk">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
|            </div>
|            <div class="face rt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0666667);"></div>
|            </div>
|            <div class="face lt">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.309804);"></div>
|            </div>
|            <div class="face bm">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.133333);"></div>
|            </div>
|            <div class="face tp">
|                <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.243137);"></div>
|            </div>
|        </div>
|    </div>
|</div>