//
   Created by MLovan
   Date: 5/15/13
   Time: 7:52 PM

div.header
    include 3dlogo

    .stripegroup
        .twostripe
        .threestripe
        .fourstripe


    a(href="/")
        h1 Matt Lovan
            small  web developer

