//
   Created by MLovan
   Date: 5/8/13
   Time: 7:14 PM

.navbar.navbar-fixed-top(ng-controller="navigationCtrl")
    .navbar-inner
        .container
            ul.nav
                li(ng-class="{active: location.path() == '/about'}")
                    a(href='about') About this site
                li(ng-class="{active: location.path() == '/projects'}")
                    a(href='projects') Projects
                li(ng-class="{active: location.path() == '/resume'}")
                    a(href='resume') Resume
